/* Reset */
html{
    scroll-behavior:smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    
}

/* Body */

body{
    background:linear-gradient(to right,#f8fbff,#eef3ff);
    color:#333;
}

/* Header */

header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 80px;

    background:white;

    position:sticky;

    top:0;

    z-index:100;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

}

/* Logo */

.logo{

    font-size:38px;

    color:#4f46e5;

    font-weight:700;

}

/* Navigation */

nav a{

    text-decoration:none;

    color:#333;

    margin-left:30px;

    font-weight:600;

    transition:.3s;

}

/* Hover */

nav a:hover{

    color:#4f46e5;

}
/* Hero Section */

.hero{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:100px 80px;

    min-height:90vh;

}

.hero-image img{

    width:380px;

    height:380px;

    object-fit:cover;

    border-radius:50%;

    border:8px solid white;

    box-shadow:0 20px 50px rgba(79,70,229,.25);

    transition:.4s;

}

.hero-image img:hover{

    transform:scale(1.05);

}

/* About Section */

.about{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:100px 80px;

    background:white;

}

.about-content{

    width:55%;

}

.about-content h2{

    font-size:45px;

    color:#4f46e5;

    margin-bottom:25px;

}

.skills{

    padding:100px 80px;

    background:#f8fbff;

}

.skills h2{

    text-align:center;

    font-size:45px;

    color:#4f46e5;

    margin-bottom:60px;

}


.skills-container{

    max-width:850px;

    margin:auto;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.skill{

    margin-bottom:30px;

}

.skill-info{

    display:flex;

    justify-content:space-between;

    margin-bottom:10px;

    font-size:20px;

    font-weight:600;

}

.progress-bar{

    width:100%;

    height:15px;

    background:#ddd;

    border-radius:50px;

    overflow:hidden;

}

.progress{

    height:100%;

    background:#4f46e5;

    border-radius:50px;

}

.html{

    width:90%;

}

.css{

    width:80%;

}

.java{

    width:90%;

}

.spring{

    width:80%;

}

.mysql{

    width:75%;

}

.git{

    width:80%;

}

.skill:hover{

    transform:scale(1.02);

    transition:.3s;

}

.projects{

    padding:100px 80px;

    background:white;

}

.projects h2{

    text-align:center;

    font-size:45px;

    color:#4f46e5;

    margin-bottom:60px;

}

.project-container{

    display:flex;

    justify-content:space-between;

    gap:30px;

    flex-wrap:wrap;

}

.project-card{

    width:350px;

    background:#f8fbff;

    border-radius:15px;

    padding:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.3s;

}

.project-card:hover{

    transform:translateY(-10px);

}

.project-card img{

    width:100%;

    height:200px;

    object-fit:cover;

    border-radius:10px;

}

.project-card h3{

    margin-top:20px;

    color:#4f46e5;

}

.project-card p{

    margin:15px 0;

    line-height:28px;

    color:#555;

}

.project-buttons{

    display:flex;

    justify-content:space-between;

}

.btn-secondary{

    display:inline-block;

    padding:12px 22px;

    text-decoration:none;

    border:2px solid #4f46e5;

    color:#4f46e5;

    border-radius:50px;

    transition:.3s;

}

.btn-secondary:hover{

    background:#4f46e5;

    color:white;

}
/* Left Side */

.hero-text{

    width:50%;

}

/* Heading */

.hero-text h4{

    font-size:30px;

}

/* Name */

.hero-text h1{

    font-size:70px;

    font-weight:700;

    margin:20px 0;

}

/* Profession */

.hero-text h3{

    color:#4f46e5;

    font-size:35px;

    margin-bottom:20px;

}

/* Paragraph */

.hero-text p{

    font-size:18px;

    color:#555;

    width:500px;

    line-height:30px;

    margin-bottom:35px;

}

.about-content p{

    font-size:18px;

    line-height:32px;

    color:#555;

    margin-bottom:20px;

}

.about-info{

    margin-top:30px;

}
.about-info strong{

    color:#4f46e5;

}

.about-info p{

    font-size:18px;

    margin-bottom:12px;

}

/* Button */

.btn{

    display:inline-block;

    padding:15px 35px;

    background:#4f46e5;

    color:white;

    text-decoration:none;

    border-radius:50px;

    font-weight:600;

    transition:.4s;

}

/* Button Hover */

.btn:hover{

    background:#372fcf;
    transform: translateY(-5px);

}

/* Right Side */

.hero-image{

    width:50%;

    text-align:center;

}

/* Image */

.hero-image img{

    width:350px;
    height: 360px;
    object-fit: cover;


    border-radius:50%;

    border:6px solid #4f46e5;
    box-shadow: 0 20px 50px rgba(79,70,229,.3);

}

.about-image{

    width:40%;

    text-align:center;

}

.about-image img{

    width:320px;

    height:320px;

    object-fit:cover;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.15);

}

.hero-text h4{
    color: #4f46e5;
    font-size: 25px;
}

.contact{

    padding:100px 80px;

    background:#f8fbff;

}

.contact h2{

    text-align:center;

    font-size:45px;

    color:#4f46e5;

}

.contact-text{

    text-align:center;

    margin:20px 0 50px;

    color:#555;

}

.contact-container{

    display:flex;

    justify-content:space-between;

    gap:50px;

    flex-wrap:wrap;

}

.contact-form{

    flex:1;

}

.contact-form input,
.contact-form textarea{

    width:100%;

    padding:15px;

    margin-bottom:20px;

    border:1px solid #ccc;

    border-radius:10px;

    font-size:16px;

}

.contact-form button{

    background:#4f46e5;

    color:white;

    border:none;

    padding:15px 35px;

    border-radius:50px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}

.contact-form button:hover{

    background:#372fcf;

}

.contact-info{

    flex:1;

}

.contact-info h3{

    color:#4f46e5;

    margin-bottom:25px;

}


.contact-info p{

    margin-bottom:20px;

    font-size:18px;

}

.contact-info i{

    color:#4f46e5;

    margin-right:10px;

}


.social-icons{

    margin-top:30px;

}

.social-icons a{

    color:#4f46e5;

    font-size:28px;

    margin-right:20px;

    transition:.3s;

}

.social-icons a:hover{

    color:#372fcf;

}

footer{

    background:#4f46e5;

    color:white;

    text-align:center;

    padding:20px;

}